:root {
  --primary-bg: #caf289;
  --secondary-color: #c2e96a;
  --primary-text: #5d3a0e;
  --secondary-text: #8a5d3a;
  --navTabLink: #38aa3d;
  --navTabLinkHover: #26952b;
  --navTabLinkBorder: #187d20;

  --simpleProfile-title: "";
  --blog-title: "";
  --github-title: "";
  --instagram-title: "";
  --player-title: "";
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}

@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.blind-text {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
  z-index: -1;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#topNavBar_mobileButton {
  display: none;
}
#topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 1rem;
  z-index: 100;
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#topNavBar.active {
  opacity: 1;
}

#topNavBar .navTabLink {
  color: var(--navTabLink);
  font-size: 1.2rem;
  padding: 12px 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-family: "CookieRun-Regular";
}

#topNavBar .navTabLink:hover {
  color: #fff;
  background-color: var(--navTabLinkHover);
  text-decoration: underline;
}

#topNavBar .navTabLink.active {
  color: #fff;
  background-color: var(--navTabLinkHover);
  text-decoration: underline;
}

#home,
#profile {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out; /* 부드러운 전환 */
}

#home {
  left: 0;
}

#profile {
  transform: translateX(100%);
}

#profile .profile-box {
  width: 24rem;
  padding: 1rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(56, 170, 61, 0.1);
  background-color: rgba(56, 170, 61, 0.05);
  line-height: 2;
  background-image: url(/assets/images/profile-bg.webp);
  background-position-x: right 1rem;
  background-position-y: 1rem;
  background-repeat: no-repeat;
  background-size: 75px;
}

#profile .profile-box hr {
  border-color: var(--primary-text);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#profile .profile-box .row {
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

#home .profile-image {
  margin-bottom: 2rem;
}

#home .front-message {
  margin: 1rem auto;
}

#home .social-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  gap: 1rem;
}

#home .mailtoLink,
#home .mailtoLink:active,
#home .mailtoLink:visited {
  display: inline-block;
  margin-top: 2rem;
  color: var(--primary-text);
  text-decoration: underline;
}

#home .social-link .rounded-link {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  border: 1px solid var(--primary-text);
  font-size: 1.5rem;
  border-radius: 100%;
  text-align: center;
  color: inherit;
  cursor: pointer;
}

#home .social-link .rounded-link:hover {
  color: #fff;
  background-color: var(--primary-text);
  border-color: var(--primary-text);
}

#home .social-link .rounded-link:hover::after {
  position: absolute;
  display: block;
  width: 100%;
  top: 2rem;
  color: var(--primary-text);
  font-size: 0.9rem;
  text-align: center;
}

#home .social-link .rounded-link:hover::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  color: var(--primary-text);
  margin-top: 0.3rem;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  white-space: nowrap;
  text-align: center;
  z-index: 10;
}

#youtube-player {
  display: none;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 780px) {
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #topNavBar_mobileButton {
    display: none;
  }

  #topNavBar_mobileButton.active {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 100%;
    border-width: 0;
    border-color: transparent;
    z-index: 99;
  }

  #topNavBar {
    flex-direction: column;
    justify-content: start;
    opacity: 0;
  }

  #topNavBar.active {
    display: none;
  }

  #topNavBar[data-mobile="true"] {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: 1 !important;
    z-index: 10;
  }
}
